html
  head
    title Home
    script.
  body
    h1 #{id}로 사용중
    ul
      li
        a(href='/logout')로그아웃
      li
        a(href='/view/user')팀 목록 보기
      li
        a(href='/view/team')프로젝트 목록 보기
      li
        a(href='/recharge')충전하기
      li
        a(href='/write')글쓰기
